* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: #FFD345;
    width: 1000px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purpleBlock {
    background-color: #AF39FA;
    width: 100px;
    height: 100px;
}