.rightSlideBar {
    transform: rotate(180deg);
}

.descriptionTitle {
    color: rgba(255, 255, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.selectedThumbnail {
    margin-top: -25px;
}

.thumbnailImg {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.triangleDiv {
    margin-left: 42px;
    margin-bottom: -10px;
    width: 0;
    height: 0;
    border: 14px solid;
    border-color: transparent transparent white;
}