.form-container {
    height: 600px;
    width: 1000px;
    padding-left: 50px;
    padding-top: 30px;
}

.input-box {
    width: 270px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #B2B2B2;
    border-left: none;
    border-right: none;
    border-top: none;
}

.input-box :focus {
    background-color: black;
}

.input-box-container {
    margin-top: 20px;
}

.button-container {
    margin-top: 50px;
}

.sign-up-button {
    width: 130px;
    height: 40px;
    background-color: #009E85;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}